<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Информация об котрагенте</title>
    <link rel="stylesheet" href="/css/projeck.css">
</head>
<body>
<div class="container">
    <header class="header">
        <nav class="header-nav">
            <div class="header-logo">
                <h3>контрагент</h3>
            </div>
            <ul class="header-nav-list">
                <li>
                    <a th:href="@{/consignment_note/}">Накладные</a>
                </li>
                <li>
                    <a th:href="@{/storekeeper/}">Кладовщики</a>
                </li>
                <li>
                    <a th:href="@{/warehouse/}">Склад</a>
                </li>
                <li>
                    <a th:href="@{/product/}">Товар</a>
                </li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN')" th:if="${#authorization.getAuthentication().isAuthenticated()}">
                    <a th:href="@{/organization/}" class="header-nav-link">Организация</a>
                    <ul class="header-nav-sabmenu-list">
                        <li>
                            <a th:href="@{/bank/}" class="header-nav-sabmenu-link">Банки</a>
                        </li>
                        <li>
                            <a th:href="@{/partner/}" class="header-nav-sabmenu-link">Контрагенты</a>
                        </li>
                        <li>
                            <a th:href="@{/users/}" class="header-nav-sabmenu-link">Пользователи</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="header-nav-list">
                <a th:href="@{/logout}">Выход</a>
            </div>
        </nav>
    </header>
    <br/>
    <div class="content-show">
        <div class="content-header">
            <h2>Информация об контрагенте</h2>
        </div>
        <!--/*@thymesVar id="partnerInfo" type="com.myprogect.mywarehouse.service.dto.PartnerAccountWithInformationDTO"*/-->
        <div class="content-fields">
            <div>
                <p>#</p>
                <input type="text" name="partner-id"
                       th:value="${partnerInfo.getId()}" disabled/>
            </div>
            <div>
                <p>Код контрагента</p>
                <input type="text" name="partner-code"
                       th:value="${partnerInfo.getPartnerCode()}" disabled/>
            </div>
            <div>
                <p>Наименование Организации</p>
                <input type="text" name="partner-organization-name"
                       th:value="${partnerInfo.getOrganizationName()}" disabled/>
            </div>
        </div>
        <br/>
        <div class="content-fields">
            <div>
                <p>Код Плательщика</p>
                <input type="text" name="partner-code-of-payer"
                       th:value="${partnerInfo.getCodeOfPayer()}" disabled/>
            </div>
            <div>
                <p>Расчетный Счет</p>
                <input type="text" name="partner-settlement-account"
                       th:value="${partnerInfo.getSettlementAccount()}" disabled/>
            </div>
            <div>
                <p>Код Банка</p>
                <input type="text" name="code-of-payer"
                       th:value="${partnerInfo.getPartnerBank().getBankCode()}" disabled/>
            </div>
        </div>
        <br/>
    <div class="content-table">
        <div class="content-header">
            <h2>Накладные Контрагента</h2>
        </div>
        <table>
            <thead>
            <th>#</th>
            <th>Номер Накладной</th>
            <th>Дата Накладной</th>
            <th>Действие</th>
            </thead>
            <tbody th:each="note : ${partnerInfo.getConsignmentNotes()}">
            <td th:utext="${note.getId()}"></td>
            <td th:utext="${note.getConsignmentNoteId()}"></td>
            <td th:utext="${note.getConsignmentNoteDate()}"></td>
            <td>
                <a th:href="@{/consignment_note/info/{id}(id=${note.id})}">Просмотр Накладной</a>
            </td>
            </tbody>
        </table>
    </div>
    <footer class="footer">
        <div class="footer-content">
            <p>2021 My Warehouse</p>
        </div>
    </footer>
</div>
</body>
</html>